html {
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

h2 {
    color: #B7A57A;
    margin: 0;
}

hr {
    border: 1px solid #6747a5;
    margin: 2rem 0;
}

p {
    color: #fff;
}

#upper-wrapper {
    background-color: #4B2E83;
    padding: 2rem;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lower-wrapper {
}

#directions {
    border: 1px solid #f1f1f1;
    background-color: #f8f8f8;
    padding: 2rem;
    text-align: left;
}

#directions p {
    color: #000;
}

#directions img {
    width: 100%;
    border: 1px solid #d6d6d6;
}

#back {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 12px;
}

#profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
}

#profile-icon {
    width:15px;
    height: 20px;
    margin-right: 10px;
}

#gmail-imap {
    margin: 1rem 0;
    color: #0000EE;
    cursor: pointer;
    font-size: 16px;
}
 
.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.user-input {
    display: flex;
    color: #B7A57A;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem;
    flex: 0 0 100%;
}

.user-input input {
    width: 200px;
    padding: .5rem 1rem;
    margin-left: 10px;
    border: 1px solid #B7A57A;
    border-radius: 5px;
}

#spam-button {
    color: #4B2E83;
    background-color: #B7A57A;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: .5rem 2rem;
    cursor: pointer;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
}

#return-data {
    border: 1px solid #f1f1f1;
    background-color: #f8f8f8;
    padding: 0 2rem;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

#return-data h1 {
    color: #4B2E83;
}

.hide_ {
    display: none;
}