{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="https://use.typekit.net/okx8wwi.css">
    <title>Document</title>
</head>
<body>
    <div class="body-wrapper">
        <h1>You Got Spam!</h1>
        <p>Log in to your email address to fetch the amount of spam email</p>
        <div class="login-wrapper">
            <div>
                <div class="user-input">
                    <label for="email_">Email Address</label>
                    <input type="email" id="email_" name="email_" placeholder="youraddress@email.com">
                </div>  
                <div class="user-input">
                    <label for="password_">Password</label>
                    <input type="text" id="password_" name="email_" placeholder="********">
                </div>
                <button id="spam-button">Go!</button>
            </div>
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>