{% load static %}
{% csrf_token %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="https://use.typekit.net/okx8wwi.css">
    <title>Document</title>
</head>
<body>
    <div id="upper-wrapper">
        <div class="top-section">
            <h2>You Got Spam!</h2>
            <span id="profile">
                <img id="profile-icon" src="{% static 'images/user-profile.png' %}" alt="Profile icon">
                <p>Go to Profile</p>
            </span> 
        </div>
        <hr>
        <p>Log in to your email address to fetch the amount of spam email</p>
        <div class="login-wrapper">
            <div>
                <div class="user-input">
                    <label for="user_">User</label>
                    <input type="text" id="user_" name="user_" placeholder="myusername">
                </div>  
                <div class="user-input">
                    <label for="name_">Name</label>
                    <input type="text" id="name_" name="name_" placeholder="myname">
                </div>
                <div class="user-input">
                    <label for="email_">Email Address</label>
                    <input type="email" id="email_" name="email_" placeholder="youraddress@email.com">
                </div>  
                <div class="user-input">
                    <label for="password_">Password</label>
                    <input type="password" id="password_" name="email_" placeholder="********">
                </div>
                <button id="spam-button">Go!</button>
            </div>
        </div>
    </div>
    <div id="lower-wrapper">
        <div id="gmail-imap">
            <details>
                <summary>Extract selected mail from your Gmail account</summary>
                <div id="directions">
                    <img src="{% static 'images/gmail-settings1.png' %}" alt="Gmail Settings Screen 1">
                    <p>1. Make sure you enable IMAP in your gmail settings
                        (Log on to your Gmail account and go to Settings, See All Settings, and select
                        Forwarding and POP/IMAP tab. In the "IMAP access" section, select Enable IMAP.)
                    </p>
                    <img src="{% static 'images/gmail-settings2.png' %}" alt="Gmail Settings Screen 2">
                    <p>
                        2. If you have 2-factor authentication, gmail requires you to create an application
                        specific password that you need to use. 
                        Go to your Google account settings and click on 'Security'.
                        Scroll down to App Passwords under 2 step verification.
                        Select Mail under Select App. and Other under Select Device. (Give a name, e.g., python)
                        The system gives you a password that you need to use to authenticate from python.
                    </p>
                    <img src="{% static 'images/gmail-settings1.png' %}" alt="Gmail Settings Screen 1">
                </div>
            </details>
        </div>
        <div id="results" class="hide_">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>